<div class="maincontent">
  <article class="article">
    <h1 class="article-title">History</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </article><!-- article -->

  <article class="article">
    <h1 class="article-title">Schedule!</h1>
    <p>If you want to keep up with games go to, <a href="http://www.utahsoccer.org">Utah Soccer Organization</a>.</p>
  </article><!-- article -->

  <article class="article">
    <h1 class="article-title">Who can join?</h1>
    <ul>
      <li>You must be 18+ to join</li>
      <li>You must be a resident of Utah</li>
      <li>Must not be older than 40</li>
    </ul>
  </article><!-- article -->
</div>
